/* 定义使用 iconfont 的样式 */
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
        url('iconfont.woff2') format('woff2'),
        url('iconfont.woff') format('woff'),
        url('iconfont.ttf') format('truetype'),
        url('iconfont.svg#iconfont') format('svg');
  }
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
/* 版心 */
.w {
    width: 1190px;
    margin: auto;
}
.fr {
    float: right;
}

.fl {
    float: left;
}
/* 京东头部开始 */

.J_event {
    /* height: 80px; */
    background-color: #000;
}
.J_event a {
    display: block;
    height: 80px;;
    background: url(../images/header.jpg) no-repeat;
    position: relative;
} 
.J_event i {
    position: absolute;
    top: 8px;
    right: 0;
}
/* 京东头部结束 */