.jd {
    height: 480px;
    background-color: pink;
    position: relative;
}
.jd-min {
    background-color: purple;
    height: 480px;
    position: relative;
    z-index: 999;
}
.jd .ad {
    display: block;
    height: 480px;
    width: 100%;
    background: url(../images/bg.png) no-repeat top center;
    position:absolute;
    top: 0;
    left: 0;

}
.jd-min .clo1 {
    width: 190px;
    height: 480px;
    /* background-color: aqua; */
    float: left;
    color: white;
}
.clo1 a {
    color: white;
    font-size: 14px;
}
.jd-min .clo1 span {
    font-size: 12px;
    
}
.jd-min .clo2 {
    width: 790px;
    height: 480px;
    /* background-color: red; */
    float: left;
    margin-left: 10px;
}
.jd-min .clo3 {
    width: 190px;
    height: 480px;
    /* background-color: blue; */
    float: right;
}
.clo1 ul {
    margin-top: 15px;
    margin-left: 5px;
    color: white;
    font-size: 14px;
}
.clo2-top {
    height: 340px;
    background-color: red;
    position: relative;
}
.arrow {}

.slider {
    position: absolute;
    bottom: 10px;
    left: 40%;

}
.slider li{
    background-color: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    float: left;
    margin-left: 8px;
}
.clo2-bottom {
    height: 140px;
    background-color: blue;
}
.clo2-bottom-left {
    width: 380px;
    height: 100%;
    background-color: #fff;
    float: left;
   
}
.clo2-bottom-right {
    width: 380px;
    height: 100%;
    background-color: #fff;
    float: right;
    
}